@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Montserrat:wght@700&family=Raleway:wght@400;500;600;700&display=swap');
@import "modification.scss";
@import "header.scss";
@import "welcome.scss";
@import "about.scss";
@import "statistics.scss";
@import "services.scss";
@import "design.scss";
@import "skills.scss";


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

.content {
    max-width: calc(1170px + 16px * 2);
    width: 100%;
    padding: 0 16px;
    margin: 0 auto;
}

.subtitle{
    @include fontz($kau,$fst,$fw,30px,44px,$col1);
    text-align: center;
}

.title{
    margin: 35px 0 0;
    @include fontz($ral,$fst,900,36px,42px,$col1);
    text-transform: uppercase;
    text-align: center;
}
.line{
    margin: 45px auto 0;
    width: 170px;
    height: 4px;
    background-color: #F38281;
}
.text{
    margin: 40px 0 0;
    @include fontz($ral,$fst ,$fw,18px,21px,$col2);
    text-align: center;
}




