@import "modification.scss";


.skills{
    padding: 60px 0 115px;
    .skills__wrapper{
        margin: 80px 0 0;
        display: flex;
        align-items: stretch;
        column-gap: 30px;
    }
    .skills__cards{
        max-width: 570px;
        width: 100%;
        display: flex;
        flex-direction: column;
        row-gap:21px;
        .skills__card{
            padding: 24px 14px 24px 18px;
            border: 1px solid #C6CBCD;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            &:first-child{
                border: none;
            }
            .skills__card-title{
                @include fontz($ral, $fst, 700, 24px, 28px, $col1);
                text-transform: uppercase;
                max-width: 370px;
                width: 100%;
            }
            .skills__card-button{
                border: none;
                background-color: transparent;
            }
            .skills__card-icon{
                flex-shrink: 0;
            }
        }
        .skills__card--active{
            border: 1px solid #C6CBCD;
            .skills__card-description{
                padding: 0 24px 0 22px;
                border-top: 1px solid #C6CBCD;
                .skills__card-text{
                    @include fontz($ral, $fst, 400, 18px, 21px, $col1);
                    max-height: 163px;
                    overflow: auto;
                    padding: 13px 54px 13px 0;
                    &::-webkit-scrollbar{
                        width: 7px;
                    }
                    &::-webkit-scrollbar-track {
                        background-color: #F5F5F5;
                    }
                    &::-webkit-scrollbar-thumb{
                        background-color: #95E1D3;
                    }
                }
            }
        }
    }
}


