@import "modification.scss";

.slider{
    background-color: #F8F8F8;
    padding: 42px 0;
    .container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        .slider__bloquote{
            display: flex;
            justify-content: space-between;
            column-gap: 30px;
            .slider__bloquote-image{
                padding: 31px 33px;
                border: 2px solid #95E1D3;
                margin: 0 0 0 60px;
            }
            .slider__bloquote-descrition{
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                row-gap: 20px;
                margin: 0 60px 0 0;
                .bloquote-descrition__text{
                    @include fontz($ral, $fst, 500, 24px, 28px, #A9AFB1);
                }
                .bloquote-descrition__author{
                    display: flex;
                    column-gap: 55px;
                    align-items: center;
                    .bloquote-descrition__author-line{
                        width: 70px;
                        height: 4px;
                        background-color: #F38281;
                    }
                    .bloquote-descrition__author-name{
                        @include fontz($kau, $fst, 400, 30px, 43px, $col2);
                    }
                }
            }
        }
    }
}
