@import "modification.scss";

.statistics {
    background-color: #95E1D3;

    .statistics__cards {
        display: flex;
        align-items: stretch;

        .statistics__card {
            max-width: 234px;
            width: 100%;
            padding: 70px 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            border-left: 1px solid #fff;

            &:last-child {
                border-right: 1px solid #fff;
            }

            .statistics__card-text {
                margin: 10px 0 0;
                @include fontz($ral, $fst, 700, 24px, 28px, #FFF);
            }

            .statistics__card-text--numb {
                @include fontz($ral, $fst, 700, 64px, 75px, #FFF);
            }
        }
    }
}
